/* Establecer un fondo de color claro */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

/* Estilo para los párrafos */
p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 15px;
}

/* Estilo para la imagen del tatuador */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Estilo de los contenedores */
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Resaltar los detalles de la reserva */
.details {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.details p {
    font-weight: bold;
    color: #34495e;
}

/* Añadir márgenes a los párrafos con los detalles */
.details p:not(:last-child) {
    margin-bottom: 10px;
}

/* Añadir márgenes a los encabezados */
h1, h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
